@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll for all anchor links */
html {
  scroll-behavior: smooth;
}

video {
  pointer-events: none;
}

html {
  scroll-padding-top: 80px;
}


body {
  @apply bg-slate-950 text-white;
}
